@import 'fonts';

$white: #fff;

@mixin flex-center {
	display: flex;
	align-items: center;
}

@mixin tooltip {
	display: none;
	color: var(--base-color);
	position: absolute;
	width: 300px;
	background-color: $white;
	padding: 20px;
	top: var(--size-40);
	margin-top: 4px;
	// right: 10px;
	box-shadow: 2px 2px 10px var(--base-color);
	cursor: auto;

	.open & {
		display: block;
	}

	&::before {
		content: '';
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid $white;
		position: absolute;
		top: -10px;
		right: 0;
	}
}

:root {
	--vh: 100vh;

	--size-40: 40px;

	--gap-10: 10px;
	--gap-20: 20px;

	--sidebar-width: 40px;
	--main-width: 100%;
	--details-width: 0;
	--lists-visibility: none;

	--base-color: #414141;
	--base-grey: #ededed;
	--base-red: #f46363;
	--primary: #08f;
	--background: #f5f5f5;

	overflow: hidden;
}

*,
*:before,
*::after {
	box-sizing: border-box;
}

body,
input,
button,
textarea {
	font-family: 'Open Sans', Arial, sans-serif;
}

input {
	border: none;
	background: none;
	box-shadow: none;
	border-radius: 0;
}

body {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: var(--size-40) 1fr;
	background-color: var(--background);
	color: var(--base-color);
}

button {
	color: var(--base-color);
}

header {
	@include flex-center;
	justify-content: space-between;
	gap: var(--gap-10);
}

.header__start {
	@include flex-center;
	gap: var(--gap-10);
}

.hidden {
	display: none;
}

.app__logo,
.app__settings {
	@include flex-center;
	width: var(--size-40);
	height: var(--size-40);
	justify-content: center;
}

.app__settings {
	position: relative;
	cursor: pointer;

	&.open {
		color: var(--primary);
	}
}

.settings {
	@include tooltip;
	right: 10px;
	z-index: 1;
}

#app {
	display: flex;
	gap: var(--gap-20);
}

.sidebar {
	min-width: var(--sidebar-width);
	width: var(--sidebar-width);
	background-color: var(--base-grey);
	overflow: hidden;

	&.expanded {
		--sidebar-width: 290px;
		--lists-visibility: inline;
		background-color: $white;
	}
}

.main {
	min-width: 250px;
	width: var(--main-width);
}

.details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: var(--details-width);

	&:not(.expanded) {
		> * {
			display: none;
		}
	}

	&.expanded {
		--details-width: 300px;

		.details__footer {
			@include flex-center;
			justify-content: space-between;
			background-color: $white;
		}
	}
}

.detail__my-day {
	@include flex-center;
	justify-content: space-between;
}

.lists,
.tasks__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list.selected > svg {
	color: var(--primary);
}

.tasks__list > li {
	@include flex-center;
	margin: 10px 0;
	padding: 0 12px;
	background-color: $white;

	&:hover,
	&.selected {
		background-color: var(--base-grey);
	}
}

.add-tasks {
	@include flex-center;
	padding: 0 12px;
}

#task {
	font-size: 1.3rem;
	color: var(--primary);
	padding: 16px 12px;
	width: 100%;

	&::placeholder {
		color: var(--primary);
	}

	&:focus {
		outline: none;
		color: var(--base-color);

		~ .add-task {
			color: var(--primary);
		}

		&::placeholder {
			color: var(--base-color);
		}
	}
}

.add-task {
	background: transparent;
	border: transparent;
	font-size: 1rem;
	font-weight: 600;
	cursor: pointer;
	letter-spacing: 1px;

	&:focus {
		outline: none;
	}
}

.add-task--label {
	width: 24px;
	height: 24px;
	flex: 0 0 24px;
	cursor: pointer;
	text-align: center;
	line-height: 28px;

	&:hover .add-icon {
		color: var(--primary);
	}
}

.show-details {
	background: none;
	width: 100%;
	height: 100%;
	border: none;
	box-shadow: none;
	text-align: left;
	font-size: 1.2rem;
	color: var(--base-color);
	padding: 8px 12px;
	cursor: pointer;

	.completed & {
		text-decoration: line-through from-font var(--primary);
	}

	&:focus {
		outline: none;
	}
}

.icon-check,
.icon-star-solid {
	visibility: hidden;
}

.completed-ckeck,
.importance-check,
.my-day {
	width: 20px;
	height: 20px;
	flex: 0 0 auto;
	color: var(--base-color);
	cursor: pointer;
}

.completed-ckeck {
	.completed & {
		color: var(--primary);
	}
	.completed & {
		.icon-check {
			visibility: visible;
		}
	}
}

.importance-check {
	.important & {
		color: var(--primary);
	}
	.important & {
		.icon-star-solid {
			visibility: visible;
		}
	}
}

.my-day {
	.today & {
		color: var(--primary);
	}
}

.detail__title {
	@include flex-center;
	gap: var(--gap-10);
}

.title,
.note {
	width: 100%;
	color: var(--base-color);
	font-size: 0.9rem;
	padding: 8px 6px;

	&:focus {
		outline: none;
	}
}

.title {
	text-overflow: ellipsis;

	.completed & {
		text-decoration: line-through from-font var(--primary);
	}

	&:focus {
		background-color: var(--base-grey);
	}
}

.note {
	resize: none;
	border: 1px solid var(--base-grey);

	&::placeholder {
		font-size: 0.7rem;
	}
}

.tasks {
	overflow-y: auto;
	height: calc(
		var(--vh) - (2 * var(--size-40) + 60px)
	); // 60px is the add-tasks container height set by the input padding and font-size
}

.list {
	@include flex-center;
	padding: 10px;
	border-bottom: 2px solid var(--background);
	cursor: pointer;
	gap: var(--gap-10);

	span {
		font-size: 0.8rem;
		display: var(--lists-visibility);
	}

	&.hidden {
		display: none;
	}

	&:hover {
		background-color: var(--base-grey);
	}
}

.count {
	background-color: var(--primary);
	color: $white;
	border-radius: 8px;
	display: inline-block;
	min-width: 30px;
	text-align: center;
	padding: 0 5px;
	font-weight: 600;
}

.details__body {
	height: calc(var(--vh) - (2 * var(--size-40)));

	> div {
		background-color: $white;
		margin: 10px 0;
		padding: 10px 12px;
	}

	> div:first-child {
		margin-top: 0;
	}
}

.detail__note {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 10px;
}

.rename,
.add-note {
	background-color: transparent;
	border: 1px solid transparent;
	font-size: 0.8rem;
	color: var(--primary);
	font-weight: 600;
	padding: 0;
	cursor: pointer;

	&:hover {
		border-bottom-color: var(--primary);
	}

	&:focus {
		outline: none;
	}
}

.remove,
.close {
	background: transparent;
	border: 0;
	width: 36px;
	height: 32px;
	cursor: pointer;
	line-height: 1px;

	&:focus {
		outline: none;
	}
}

.remove {
	border-left: 1px solid var(--base-grey);

	&:hover .trash-icon {
		color: var(--base-red);
	}
}

.close {
	border-right: 1px solid var(--base-grey);

	&:hover .close-icon {
		color: var(--primary);
	}
}

.sidebar__header {
	display: flex;
	align-content: center;
	border-bottom: 2px solid var(--background);
	padding: 10px;
}

.menu {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.list-toolbar {
	@include flex-center;
	justify-content: space-between;
	background-color: $white;
	padding: 10px 12px;
	height: var(--size-40);
}

.list-title {
	letter-spacing: 2px;
}

.list-filter {
	display: inline-block;
	position: relative;
	width: 20px;
	height: 20px;
	cursor: pointer;

	&.open {
		color: var(--primary);
	}
}

.filters {
	@include tooltip;
	right: 0;
}

.legend {
	margin-bottom: 4px;
	font-size: 0.9rem;
	font-weight: 600;
}

.creation-date {
	font-size: 0.8rem;
}

.switch {
	@include flex-center;
	justify-content: space-between;
	margin: 10px 0;

	.text {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	input {
		display: none;

		&:checked + .slider {
			background-color: var(--primary);

			&:before {
				transform: translateX(20px);
			}
		}

		&:checked + .radio {
			background-color: var(--primary);
			border-color: var(--primary);
		}
	}
}

.slider {
	@include flex-center;
	flex: 0 0 40px;
	width: var(--size-40);
	height: 20px;
	cursor: pointer;
	background-color: var(--base-grey);
	border-radius: 20px;
	transition: 0.4s;

	&:before {
		content: '';
		height: 16px;
		width: 16px;
		margin: 0 2px;
		background-color: $white;
		border-radius: 50%;
		transition: 0.4s;
	}
}

.radio {
	width: 20px;
	height: 20px;
	border: 1px solid var(--base-color);
	border-radius: 10px;
	position: relative;

	&:before {
		content: '';
    width: 16px;
		height: 16px;
		cursor: pointer;
    position: absolute;
    border: 2px solid $white;
    border-radius: 8px;
    top: 1px;
    left: 1px;
	}
}

@media (hover: hover) and (pointer: fine) {
	.completed-ckeck,
	.importance-check,
	.my-day {
		&:hover {
			color: var(--primary);
		}
	}
}

@media only screen and (max-width: 630px) {
	.expanded {
		height: calc(var(--vh) - var(--size-40));
	}

	.sidebar.expanded {
		--sidebar-width: 100%;
	}

	.details.expanded {
		--details-width: calc(100% - var(--size-40) - var(--gap-20));
	}
}
