:root {
	--sidebar-width: 40px;
	--main-width: 100%;
	--details-width: 300px;
}

*,
*:before,
*::after {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 40px 1fr;
	background-color: #f5f5f5;
}

header {
	display: flex;
	align-items: center;
	gap: 10px;
}

.app__logo {
	width: 40px;
	height: 40px;
}

#app {
	display: flex;
	gap: 20px;
}

.sidebar {
  min-width: var(--sidebar-width);
  width: var(--sidebar-width);
	background-color: #fff;
	overflow: hidden;

	&.expanded {
    --sidebar-width: 290px;
	}
}

.main {
	width: var(--main-width);
}

.details {
	min-width: var(--details-width);
}

.details--closed {
	--details-width: 0;

	> * {
		display: none;
	}
}
